body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
input{
    background-color: rgb(162,233,255);
    opacity: 0.8;
    font-size: 14px;
    border-radius: 5px;
}
textarea{
    background-color: rgb(162,233,255);
    opacity: 0.8;
    font-size: 14px;
    border-radius: 5px;
    resize: none
}
.nav{

width: 100%;
height: 10%;

background: red;
}
.nav div h1{
    font: normal bold 36px Microsoft YaHei,sans-serif;
    margin: 16px auto;
    text-align: center;

}
.header{

    border: 1px solid #000000;
    width: 100%;
    height: 50%;
    margin:  0 10px;
    background: blue;
    overflow: hidden;
    /*-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);*/
    /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);*/
}
.header .header_left{
    float: left;
    width: 70%;
    height: 100%;
}
.header .header_left .start{
    width: 100%;
}
.header .header_right{
    float: right;
    width: 30%;
    height: 100%;
}
.header .header_left h2{
    height: 20%;
    margin:  0 auto;
    text-align: center;
    font:normal bold 24px Microsoft YaHei,sans-serif;
}
.header .header_left .content{
    width: 90%;
    height: 80%;
    margin-left: 10%;
    overflow-x: hidden;
    overflow-y: auto;
}


/* @media sreen and(max-height:768px){
    .header .header_left .content {
        width: 90%;
        height: 370px;
        margin-left: 10%;
        overflow-x: hidden;
        overflow-y: auto;
    }
} */
/* @media screen and(mix-height:768px){
    .header .header_left .content {
        width: 90%;
        height: 450px;
        margin-left: 10%;
        overflow-x: hidden;
        overflow-y: auto;
    } */
/* } */
.content::-webkit-scrollbar {/*滚动条整体样式*/
    width: 7px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 7px;
}
.content::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.content::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}


.header .header_left .content .warning{
    width: 100%;
    height: 40px;

}

.header .header_left .content .warning>input{
    width: 72%;
    height: 24px;

}
.header .header_left .content .pretreatment{
    width: 100%;
    height: 160px;
    position: relative;
}
.header .header_left .content .pretreatment>span{
    position: absolute;
    left: 0;
    top: 0;
}
.header .header_left .content .pretreatment .text_enter{
    /*display: inline-block;*/
    margin-left: 13%;
}

.header .header_left .content .pretreatment textarea{
    width: 78%;
}
.header .header_left .content .reason{
    width: 100%;
    height: 40px;

}

.header .header_left .content .reason>input{
    width: 72%;
    height: 24px;

}
.header .header_left .content .time{
    position:relative;
    width: 100%;
}
.header .header_left .content .time .time_enter{
    margin-left:13%;

}.header .header_left .content .time textarea{
     width: 78%;
 }

 .header .header_left .content .time>span{
    position: absolute;
    left: 0;
    top: 0;
}
.header .header_left .content .complain{
    width: 100%;
    height: 40px;
}
.header .header_left .content .complain>input{
    width: 72%;
    height: 24px;
}
.header .header_left .content .dispose{
    width: 100%;
    height: 40px;
}
.header .header_left .content .dispose>input{
    width: 72%;
    height: 24px;
}
.header .header_left .content .project{
    width: 100%;
    height: 40px;

}
.header .header_left .content .project>input:nth-of-type(3){
    width: 57%;
    height: 24px;
}

.header .header_left .content .case{
    width: 100%;
    height: 90px;
    position: relative;
    max-height: 130px;
}
.header .header_left .content .case_enter{
    margin-left: 10%;
    margin-right: 15%;
    position: absolute;
    left: 0;
    top: 0;
}
.header .header_left .content .case_enter .case_down input{
    width: 125px;
    height: 24px;
}
.header .header_left .content .city{
    width: 100%;
    height: 24px;

}

.header .header_left .content .city>select{
    width: 25%;
    height: 100%;
    font-size: 14px;

}
.header .header_left .content .city>input{
    width: 25%;
    height: 100%;
}

.header .header_left .content .testing{
    margin-top:15px;
    position: relative;
    width: 100%;
    height: 80px;
}
.header .header_left .content .testing .testing_enter{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 13%;
}
.header .header_left .content .testing .testing_enter div:nth-of-type(2){
    margin-top: 5px;
}
.header .header_left .content .testing .testing_enter div input[type=text]{
    width: 460px;
    height: 24px;

}
.header .header_left .content .save{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;

}
.header .header_left .content .save:hover div{
    color: #befd78;
}
.header .header_left .content .save:hover .push{
    background: url("../img/imgone.png") no-repeat -843px -236px;
    position: absolute;
    width: 46px;
    height: 42px;
    left: -25px;
    top: -9px;
}
.header .header_left .content .save>div{
    font-size:16px;
    color: #000;
    position: relative;
    width: 100px;

    margin-left: 50%;
}

.header .header_left .content .save .push{

    background: url("../img/imgone.png") no-repeat -843px -285px;
    position: absolute;
    width: 46px;
    height: 44px;
    left:-25px;
    top: -9px;
}

















.header .header_right .right_center{
    width: 60%;
    height: 100%;
    margin-right: 20%;
    margin-left: 20%;

}
.header .header_right .right_center>h2{
    text-align: center;
    height: 40px;
}
.header .header_right .right_center .right_content{
    width: 100%;
    height:370px;
}
.header .header_right .right_center .right_content .second{
    margin-top:20px;
}
.header .header_right .right_center .right_content .below{
    margin-top:20px;
}
.footer{
    margin-left: 7%;
    background: yellow;
    width: 94%;
    height: 40%;
}
.footer>h2{
text-align: center;
    font: normal bold 24px Microsoft YaHei,sans-serif;
    margin: 16px auto;
}

.footer .telephone{

}

.footer .telephone input{
    width: 25%;
    height: 24px;

 }
.footer .telephone input:first-of-type{
    margin-right: 30px;
}
.footer .telephone .telephone_right{
     display: inline-block;
     float: right;
     margin-right:5%;
    width: 250px;

 }
.footer .telephone .telephone_right .a{
    display: inline-block;
    float: right;
    /*margin-left:5%;*/
    width: 100px;
    /*background: yellow;*/

}
.footer .telephone .telephone_right .b{
    display: inline-block;
    float: left;
padding-right: 0px;
    margin-right:0px;


}
.footer .telephone .telephone_right .a span {

    position: relative;

}

.footer .telephone .telephone_right .a:hover span{
    color: #befd78;

}
.footer .telephone .telephone_right .a span .front{
    /*color: #befd78;*/

    position:absolute ;
    background: url("../img/imgone.png") no-repeat -581px -289px;
    width: 35px;
    height: 34px;
    left: -35px;
    top: -8px;
}
.footer .telephone .telephone_right .a:hover span .front{
    position:absolute ;
    background: url("../img/imgone.png") no-repeat -581px -236px;
    width: 35px;
    height: 34px;
    left: -35px;
    top: -8px;
}
.footer .telephone .telephone_right .b span {

    position: relative;

}
.footer .telephone .telephone_right .b:hover span{
    color: #befd78;

}
.footer .telephone .telephone_right .b span .rear{
    position:absolute ;
    background: url("../img/imgone.png") no-repeat -513px -289px;
    width: 35px;
    height: 34px;
    left: -35px;
    top: -8px;
}
.footer .telephone .telephone_right .b:hover span .rear{
    position:absolute ;
    background: url("../img/imgone.png") no-repeat -513px -236px;
    width: 35px;
    height: 34px;
    left: -35px;
    top: -8px;
}

.footer .footer_enter{
    width: 95%;
    height:300px;
    background: pink;
    margin-top:26px;
    overflow-x: hidden;
    overflow-y: auto;
   
}

.footer_enter::-webkit-scrollbar {/*滚动条整体样式*/
    width: 7px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 7px;
}
.footer_enter::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(255,0,255,0.2);
    background: rgba(255,0,0,0.2);
}
.footer_enter::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,0,0.2);
    border-radius: 0;
    background: rgba(255,255,0,0.1);
}